# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Targets stuff
_targets
_targets.yaml

# Site output
**/_site/*
**/site_libs/*
_freeze/

# knitr and caching stuff
**/*_files/*
**/*_cache/*

# Output
# (ignore for now)
analysis/output/
manuscript/output/
manuscript/submissions/
manuscript/*_files/
manuscript/*.html.md
manuscript/*.pdf.md
manuscript/*.docx.md
manuscript/*.odt.md

# Data stuff
data/raw_data/
data/manual_data/*
data/derived_data/

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
admin/*

/.luarc.json

/.quarto/
