@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

/*-- scss:defaults --*/

$font-family-sans-serif: Assistant, sans-serif !default;


/*-- scss:rules --*/

#title-block-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

thead th {
  text-transform: none;
}

.MathJax, .MathJax_Display {
  font-size: 100% !important;
}

.thanks-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
